<div class="post-meta">
    <div class="post-meta__tags">
        <% if (post.tags && post.tags.length){ %>
            <%- list_tags(post.tags, {
                show_count: false,
                style: 'none',
                separator: ' ',
                amount: 5
            }) %>
        <% } %>
    </div>
    <span class="post-meta__tags">
        建立日期 : <%- date(post.date,"YYYY/MM/DD") %>
    </span>
</div>