.post {
  margin: 0 auto;
  background: white;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  border: 3px solid #333; }
  .post__head {
    font-size: 2rem;
    margin-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #333; }
  .post__body {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 7rem; }
    .post__body img {
      max-width: 100%; }
    .post__body h1, .post__body h2, .post__body h3, .post__body h4, .post__body h5, .post__body h6 {
      margin: 1.5rem 0; }
    .post__body h1, .post__body h2 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #d6d6d6; }

.post-meta {
  display: flex; }
  .post-meta__tags {
    font-size: 1.2rem;
    padding: 0.5rem 0; }
    .post-meta__tags .tag-link {
      margin-right: 0.5rem; }
