<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <div id="wrap" class="wrap">
    <%- partial('_partial/header') %>
    <div class="container content">
      <div class="row">
        <div class="col-md-8 <%if (is_post()) { %> col-md-12 <%}%>">
          <%- body %>
        </div>
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
    <div class="footer">
        © 2019. All rights reserved.
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
  <script>
      hljs.initHighlightingOnLoad();
  </script>
</body>
</html>