<h1>你好 我是 post!!!</h1>
fdsfsf
<h2><%- page.title %></h2>
<h2><%- page.date %></h2>
z
<% if(page.author === 'Mike') { %>
  Mike is the author
<% } else { %>
  sucks
<% } %>
<br />
fdsfsf
<%- page.content %>